extends ../../layout.jade

block content
  .container
    .row
      .col-md-12
        h2 Categorias de questões

    .row
      .col-md-8
        .list-group
          if categories && categories.length > 0
            each category in categories
              .list-group-item
                .list-group-item-text
                  .row
                    .col-sm-6
                      h4
                        a(href="/questions/categories/" + category._id + "/edit")= category.name
                    .col-sm-6.text-right
                      a(href="/questions/categories/" + category._id + "/edit").btn
                        .fa.fa-pencil.fa-lg
                      a(href="/questions/categories/" + category._id + "/remove").btn
                        .fa.fa-trash.fa-lg
          else
            .list-group-item
              .list-group-item-text
                p Nenhuma categoria encontrada.

      .col-md-4
        a(href="/questions/new").btn.btn-primary.btn-lg.btn-block Nova questão
        a(href="/questions/categories/new").btn.btn-secondary.btn-lg.btn-block Nova categoria
