extends ../../layout.jade

block content
  .container
    .row
      .col-md-12
        h2 Categorias de quest천es

    .row
      .col-md-8
        .list-group
          .list-group-item
            .list-group-item-text
              .row
                .col-sm-6
                  h4
                    a(href="/questions/1/edit")
                      | Quest찾o 1
                      p.text-muted
                        small Teste
                .col-sm-6.text-right
                  a(href="/questions/1/edit").btn
                    .fa.fa-pencil.fa-lg
                  a(href="/questions/1/remove").btn
                    .fa.fa-trash.fa-lg

          .list-group-item
            .list-group-item-text
              .row
                .col-sm-6
                  h4
                    a(href="/questions/2/edit") Quest찾o 2
                .col-sm-6.text-right
                  a(href="/questions/2/edit").btn
                    .fa.fa-pencil.fa-lg
                  a(href="/questions/2/remove").btn
                    .fa.fa-trash.fa-lg

      .col-md-4
        a(href="/questions/new").btn.btn-primary.btn-lg.btn-block Nova quest찾o
        a(href="/questions/categories/new").btn.btn-secondary.btn-lg.btn-block Nova categoria
