extends ../layout.jade

block content
  .container
    .row
      .col-md-12
        h2 Editar usuário

        include ../notification/list.jade

        form(method="post", action="")
          .form-group
            label Nome
            input.form-control(name="name", value=user.name)

          .form-group
            label Email
            input.form-control(name="email", value=user.email)

          .form-group
            label Senha
            input.form-control(type="password", name="password")
            .help-block Preencha para alterar

          .form-group.text-right
            .row
              .col-md-12
                button.btn.btn-primary(type='submit') Cadastrar
