extends ../layout.jade

block content
  .container
    .row
      .col-md-12
        h2 Testes

    .row
      .col-md-8
        .list-group
          if tests && tests.length > 0
            each test in tests
              .list-group-item
                .list-group-item-text
                  .row
                    .col-sm-6
                      h4: a(href="/tests/" + test._id + "/edit")= test.name
                    .col-sm-6.text-right
                      a(href="/tests/" + test._id + "/results", title="Resultados").btn
                        .fa.fa-check-square-o.fa-lg
                      a(href="/tests/" + test._id + "/edit").btn
                        .fa.fa-pencil.fa-lg
                      a(href="/tests/" + test._id + "/remove").btn
                        .fa.fa-trash.fa-lg
          else
            .list-group-item
              .list-group-item-text
                p Nenhum teste encontrado.

      .col-md-4
        a(href="/tests/new").btn.btn-primary.btn-lg.btn-block Novo teste
