extends ../layout.jade

block content
  .container
    .row
      .col-md-12
        h2 Testes

    .row
      .col-md-8
        .list-group
          .list-group-item
            .list-group-item-text
              .row
                .col-sm-6
                  h4
                    a(href="/tests/1/edit") Teste 1
                .col-sm-6.text-right
                  a(href="/tests/1/edit").btn
                    .fa.fa-pencil.fa-lg
                  a(href="/tests/1/remove").btn
                    .fa.fa-trash.fa-lg

          .list-group-item
            .list-group-item-text
              .row
                .col-sm-6
                  h4
                    a(href="/tests/2/edit") Teste 2
                .col-sm-6.text-right
                  a(href="/tests/2/edit").btn
                    .fa.fa-pencil.fa-lg
                  a(href="/tests/2/remove").btn
                    .fa.fa-trash.fa-lg

      .col-md-4
        a(href="/tests/new").btn.btn-primary.btn-lg.btn-block Novo teste
