extends ../layout.jade

block content
  .container
    .row
      .col-md-12
        h2 Questões

    .row
      .col-md-8
        form(method="get").text-right
          .form-group.form-inline Filtar por categoria:
            select.form-control
              option Todas as categorias
              option Categoria A
              option Categoria B

        .list-group
          if questions && questions.length > 0
            each question in questions
              .list-group-item
                .list-group-item-text
                  .row
                    .col-sm-6
                      h4: a(href="/questions/" + question._id + "/edit")= question.title
                      if question._categories && question._categories.length > 0
                        h6
                          ul.list-unstyled.list-inline
                            each category in question._categories
                              li
                                a(href="/questions/categories/" + category._id)= category.name
                    .col-sm-6.text-right
                      a(href="/questions/" + question._id + "/edit").btn
                        .fa.fa-pencil.fa-lg
                      a(href="/questions/" + question._id + "/remove").btn
                        .fa.fa-trash.fa-lg
          else
            .list-group-item
              p Nenhuma questão encontrada.

      .col-md-4
        a(href="/questions/new").btn.btn-primary.btn-lg.btn-block Nova questão
        a(href="/questions/categories/new").btn.btn-secondary.btn-lg.btn-block Nova categoria
