extends ../layout.jade

block content
  .container
    .row
      .col-md-12
        h2 Cadastrar questão

    form(method="post")
      .form-group
        .row
          .col-md-12
            label Título
            input.form-control(type="text", name="title")
            .help-block Para identificação do professor.

      .form-group
        label Descrição
        textarea.form-control(name="description")

      .row
        .col-sm-6.col-xs-6
          label Respostas
        .col-sm-2.col-xs-3
          label Peso

      .form-group
        .row
          .col-sm-6.col-xs-6
            input.form-control.js-duplicate-row(type="text", name="answer_titles[]", placeholder="Nova resposta")
          .col-sm-2.col-xs-3
            select.form-control(name="answer_scores[]", disabled)
              each score in [1, 0.9, 0.8, 0.7, 0.6, 0.5, 0.4, 0.3, 0.2, 0.1, 0]
                option(value=score)= score * 100 + '%'
          .col-sm-4.col-xs-3
            button(type="button", disabled).btn.btn-link.js-remove-row
              span.fa.fa-trash

      .form-group.text-right
        button(type="submit").btn.btn-primary Salvar
