extends ../layout.jade

block content
  .container
    .row
      .col-md-12
        h2 Cadastrar questão

    form(method="post")
      .form-group
        .row
          .col-md-12
            label Título
            input.form-control(type="text", name="title")
            .help-block Para identificação do professor.

      .form-group
        label Descrição
        textarea.form-control(name="description")

      .row
        .col-sm-6.col-xs-6
          label Respostas
        .col-sm-2.col-xs-3
          label Peso

      .form-group
        .row
          .col-sm-6.col-xs-6
            input.form-control(type="text", name="answers_title[]")
          .col-sm-2.col-xs-3
            select.form-control(name="scores[]")
              each score in [100, 90, 80, 70, 60, 50, 40, 30, 20, 10, 0]
                option= score + '%'
          .col-sm-4.col-xs-3
            button(type="button").btn.btn-link.js-remove-row
              span.fa.fa-trash

      .form-group
        .row
          .col-sm-6.col-xs-6
            input.form-control.js-duplicate-row(type="text", name="answers_title[]", placeholder="Nova resposta")
          .col-sm-2.col-xs-3
            select.form-control(name="scores[]", disabled)
              each score in [100, 90, 80, 70, 60, 50, 40, 30, 20, 10, 0]
                option= score + '%'
          .col-sm-4.col-xs-3
            button(type="button", disabled).btn.btn-link.js-remove-row
              span.fa.fa-trash

      .form-group.text-right
        button(type="submit").btn.btn-primary Salvar
